Python Dictionaries

In [ ]:
# Empty Dictionaries
ed={}

In [1]:
pd={"Name":"Shaik", "Age":35, "Place":"Kurnool"}
pd

#Dictionaries work based on mapping the values

{'Name': 'Shaik', 'Age': 35, 'Place': 'Kurnool'}

In [1]:
#mixed Dict
mxd={"Name":"Jack","country":"USA","State code":[22,23,24]}
mxd

{'Name': 'Jack', 'country': 'USA', 'State code': [22, 23, 24]}

Accessing values
#we can access dictionaries the values by using the key

In [9]:
emp={"Name":"Amar",
     "Age":24,
     "Id":102
    }
empfin={"Lta":"10k",
        "Sal":"20k",
        "Place":"Hyd"}

print(emp["Name"])
print(empfin["Sal"])

Amar
20k

In [20]:
hotel={"item":"Veg",
     "price":[10,20,30]}

pay={"payment":"online",
   "card":"SBI"}

print(hotel["price"])
print(pay["payment"])

[10, 20, 30]
online

In [9]:
#modifying
emp={"Name":"Amar",
     "Age":24,
     "Id":102}

empfin={"Lta":"10k",
        "Sal":"20k",
        "Place":"Hyd"}

hotel={"item":"Veg",
     "price":[10,20,30]}

pay={"payment":"online",
   "card":"SBI"}

#modify 
emp["Age"]=30
empfin["sal"]=25000
hotel["price"]=[5,9]
pay["card"]="hdfc"

print(empfin)
print(hotel)
print(pay)
print(emp)

{'Lta': '10k', 'Sal': '20k', 'Place': 'Hyd', 'sal': 25000}
{'item': 'Veg', 'price': [5, 9]}
{'payment': 'online', 'card': 'hdfc'}
{'Name': 'Amar', 'Age': 30, 'Id': 102}

In [13]:
#adding a new entry
emp={"Name":"Amar",
     "Age":24,
     "Id":102}

empfin={"Lta":"10k",
        "Sal":"20k",
        "Place":"Hyd"}

hotel={"item":"Veg",
     "price":[10,20,30]}

pay={"payment":"online",
   "card":"SBI"}

#new entry
emp["gender"]="Male"
emp["college"]="CBSE"

print(emp)

empfin["Bonus"]="5k"
empfin["start"]="2stars"

hotel["Rice"]="Biryani"
hotel["Booking"]="VIP table"

pay["Feature"]="Cheque"
pay["country"]="India"

print(empfin)
print(hotel)
print(pay)

{'Name': 'Amar', 'Age': 24, 'Id': 102, 'gender': 'Male', 'college': 'CBSE'}
{'Lta': '10k', 'Sal': '20k', 'Place': 'Hyd', 'Bonus': '5k', 'start': '2stars'}
{'item': 'Veg', 'price': [10, 20, 30], 'Rice': 'Biryani', 'Booking': 'VIP table'}
{'payment': 'online', 'card': 'SBI', 'Feature': 'Cheque', 'country': 'India'}

Dictionary Methods
#get() returns the value of specified key
#Keys() returns all the value of keys of dictionary

In [20]:
get1=emp.get("Age")
get2=empfin.get("start")
get3=hotel.get("Booking")
get4=pay.get("Name")

print(get1)
print(get2)
print(get3)
print(get4)

24
2stars
VIP table
None

In [24]:
#Keys()

keys1=emp.keys()
keys2=empfin.keys()
keys3=hotel.keys()
keys4=pay.keys()

print(keys1)
print(keys2)
print(keys3)
print(keys4)

dict_keys(['Name', 'Age', 'Id', 'gender', 'college'])
dict_keys(['Lta', 'Sal', 'Place', 'Bonus', 'start'])
dict_keys(['item', 'price', 'Rice', 'Booking'])
dict_keys(['payment', 'card', 'Feature', 'country'])

In [26]:
#values

val1=emp.values()
val2=empfin.values()
val3=hotel.values()
val4=pay.values()

print(val1)
print(val2)
print(val3)
print(val4)

dict_values(['Amar', 24, 102, 'Male', 'CBSE'])
dict_values(['10k', '20k', 'Hyd', '5k', '2stars'])
dict_values(['Veg', [10, 20, 30], 'Biryani', 'VIP table'])
dict_values(['online', 'SBI', 'Cheque', 'India'])

In [31]:
#Items

itm1=emp.items()
itm2=empfin.items()
itm3=hotel.items()
itm4=pay.items()

print(itm1)
print(itm2)
print(itm3)
print(itm4)

----
dict_items([('Name', 'Amar'), ('Age', 24), ('Id', 102), ('gender', 'Male'), ('college', 'CBSE')])
dict_items([('Lta', '10k'), ('Sal', '20k'), ('Place', 'Hyd'), ('Bonus', '5k'), ('start', '2stars')])
dict_items([('item', 'Veg'), ('price', [10, 20, 30]), ('Rice', 'Biryani'), ('Booking', 'VIP table')])
dict_items([('payment', 'online'), ('card', 'SBI'), ('Feature', 'Cheque'), ('country', 'India')])

In [ ]:
#pop - we have to pass an argument