In [4]:
#Operators
#Assignment operatots
a=5
b=10
a+=b #addition
print(a)

15

In [7]:
a=20
b=30
b-=a #sub
print(b)

10

In [11]:
a=5
b=6
a*=b #multiplication
print(a)
print(type(a))

30
<class 'int'>

In [13]:
a=60
b=5
b/=a
print(b)  #division
print(type(b))

0.08333333333333333
<class 'float'>

In [15]:
a=45
b=8
a%=b
print(a)

5

In [17]:
a=4
b=2
a**=b
print(a)

16

In [28]:
#Comparison
x=5
y=10

print(x==y)
print(x>=y)
print(x<=y)
print(x>y)
print(y>x)
print(y<x)
print(x!=y)
print(y!=x)

False
False
True
False
True
False
True
True

In [32]:
#logical Operator (Ture or False)
x=5
y=10
z=15
w=10
print(y>x and y==w) #here both condition satisfied hence its true
print(z<x and z>y) #here only 2nd condition satisfied hence its false
print(x==w or z>x) #here due OR condition z>x satified hence its true
print(w==y or w>z)

True
False
True
True

In [5]:
#Identical Operatiors
# is - Ture if the operand are identical (refer to the same object)
# is not - True if the operand are not identical (do not refer the same object)
A1=50
B1=30
E1=50
C1="Shaik"
D1="Hello Shaik"
print (E1 is A1)
print (E1 is not A1)
print (B1 is not E1)
print (D1 is C1)
print (C1 is not D1)

True
False
True
False
True

In [16]:
#Membership Operators
#In - Ture if the value | variable is found in the sequnce
#not In - True if the value|variable is not found in the sequnce

t="Khalandhar World"
u=(1,2,3,4.2,5,6.5,10)
x=(1,2,3,4)

print ("z"in t)
print ("h" in t)
print ("k" in t)
print ("K" in t)
print (4 in u)
print (4.2 in u)

print (t, u)
t,u
t==u
t+u

False
True
False
True
False
True
Khalandhar World (1, 2, 3, 4.2, 5, 6.5, 10)

TypeError: can only concatenate str (not "tuple") to str

In [1]:
u=(1,2,3,4.2,5,6.5,10)
x=(1,2,3,4)

print (u-x)
print (x in u)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [21]:
u1=(1,2,3,4.2,5,6.5,10)
x1=(1,2,3,4)

print (x1 in u1)

False

In [4]:
#precedence
#Parenthese, Exponentiation, multiplaction, addition and subtraction 

print(7+35-10+(12+7+6*3)-5)

64

In [5]:
print(2-7+10+(3*3)+1)
#3*3=9
#2+10+9+1 =22
#22-7

15

In [8]:
#Data types
# core data types
#list it will start with squar brackets Ex: [1,2,3]
# We can store any type of data type in list, such as int,float,complex

shaiklist=[22,33,44, 'Dada']
print(shaiklist)
print(type(shaiklist))

[22, 33, 44, 'Dada']
<class 'list'>

In [13]:
animallist=['triger','lion','cat',2.0,3.0,5.5]
print(animallist)
print(type(animallist))

['triger', 'lion', 'cat', 2.0, 3.0, 5.5]
<class 'list'>

In [16]:
animallist=('triger','lion','cat',2.0,3.0,5.5)
print(animallist)
print(type(animallist))

('triger', 'lion', 'cat', 2.0, 3.0, 5.5)
<class 'tuple'>

In [17]:
animallist={'triger','lion','cat',2.0,3.0,5.5}
print(animallist)
print(type(animallist))

{2.0, 3.0, 5.5, 'triger', 'cat', 'lion'}
<class 'set'>

In [19]:
#mutable list --> in this we can change, modify, remove, delete from the list
list1=[1,2.0,55,"Jack"]
list1

[1, 2.0, 55, 'Jack']

In [22]:
#Access list elements
# postive index start from 0
# negative index start from -1
# default it will be postive index

fruitlist=['apple','mango','banana','grapes','gava','kiwi']
print(fruitlist[3])

grapes

In [25]:
print(fruitlist[-2])

gava

In [26]:
print(fruitlist[0])

apple

In [32]:
print(fruitlist)
print(type(fruitlist))

['apple', 'mango', 'banana', 'grapes', 'gava', 'kiwi']
<class 'list'>

In [33]:
staylist=['home','hotel','room','hut','park']
print(staylist[1])

hotel

In [34]:
print(staylist[-10])

IndexError: list index out of range

In [35]:
print(staylist[4])

park

In [38]:
print(staylist[-2])
print(type(staylist))

hut
<class 'list'>

In [ ]:
#zore division error

In [39]:
#slicing of a list - it give the portion list of itmes or range of items

carslist=['kia','mec','toyato','innova','bmw','tata','maruti,suzuki','honda','activa']
print(carslist[1:4])

['mec', 'toyato', 'innova']

In [40]:
print(carslist[4])

bmw

In [42]:
print(carslist[-3])

maruti,suzuki

In [43]:
print(carslist[1:5])

['mec', 'toyato', 'innova', 'bmw']

In [46]:
print(carslist[1:-1]) #check with sir (n-1)-1

['mec', 'toyato', 'innova', 'bmw', 'tata', 'maruti,suzuki', 'honda']

In [47]:
print(carslist[:])

['kia', 'mec', 'toyato', 'innova', 'bmw', 'tata', 'maruti,suzuki', 'honda', 'activa']

In [49]:
waterlist=['ship','boat','wscooter','wcycle']
print(waterlist[1])

boat

In [50]:
print(waterlist[-3])

boat

In [53]:
print(waterlist[2:1]) #check with sir

[]

In [54]:
print(waterlist[2:-1])

['wscooter']

In [58]:
#list operations
#concatination
#Receptition

#concantination
a=[1,2,3,4,5,6]
b=['a','b','c','d']

c=a+b
print(c)
print(type(c))

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd']
<class 'list'>

In [65]:
pets=['cat','dog','hen']
food=['milk','meat','rice']
petfood=pets+food
petfood

['cat', 'dog', 'hen', 'milk', 'meat', 'rice']

In [67]:
petfood[1:2]

['dog', 'hen', 'milk', 'meat']

In [68]:
petfood[-1]

'rice'

In [69]:
petfood[6]

IndexError: list index out of range

In [70]:
petfood[3]

'milk'

In [71]:
#repeat
Name=['Don Sinu']
B=Name*5
B

['Don Sinu', 'Don Sinu', 'Don Sinu', 'Don Sinu', 'Don Sinu']

In [72]:
Mnames=['vamsi','shaik','sharath','santosh','jack','jone','king','lady']
My5=Mnames*2
My5

['vamsi',
 'shaik',
 'sharath',
 'santosh',
 'jack',
 'jone',
 'king',
 'lady',
 'vamsi',
 'shaik',
 'sharath',
 'santosh',
 'jack',
 'jone',
 'king',
 'lady']

In [73]:
My5[2:-2]

['sharath',
 'santosh',
 'jack',
 'jone',
 'king',
 'lady',
 'vamsi',
 'shaik',
 'sharath',
 'santosh',
 'jack',
 'jone']

In [74]:
print(Mnames[1:5])

['shaik', 'sharath', 'santosh', 'jack']

In [75]:
My5[1]

'shaik'

In [76]:
My5[-2]

'king'