In [4]:
#Operators
#Assignment operatots
a=5
b=10
a+=b #addition
print(a)

15

In [7]:
a=20
b=30
b-=a #sub
print(b)

10

In [11]:
a=5
b=6
a*=b #multiplication
print(a)
print(type(a))

30
<class 'int'>

In [13]:
a=60
b=5
b/=a
print(b)  #division
print(type(b))

0.08333333333333333
<class 'float'>

In [15]:
a=45
b=8
a%=b
print(a)

5

In [17]:
a=4
b=2
a**=b
print(a)

16

In [28]:
#Comparison
x=5
y=10

print(x==y)
print(x>=y)
print(x<=y)
print(x>y)
print(y>x)
print(y<x)
print(x!=y)
print(y!=x)

False
False
True
False
True
False
True
True

In [32]:
#logical Operator (Ture or False)
x=5
y=10
z=15
w=10
print(y>x and y==w) #here both condition satisfied hence its true
print(z<x and z>y) #here only 2nd condition satisfied hence its false
print(x==w or z>x) #here due OR condition z>x satified hence its true
print(w==y or w>z)

True
False
True
True

In [5]:
#Identical Operatiors
# is - Ture if the operand are identical (refer to the same object)
# is not - True if the operand are not identical (do not refer the same object)
A1=50
B1=30
E1=50
C1="Shaik"
D1="Hello Shaik"
print (E1 is A1)
print (E1 is not A1)
print (B1 is not E1)
print (D1 is C1)
print (C1 is not D1)

True
False
True
False
True

In [16]:
#Membership Operators
#In - Ture if the value | variable is found in the sequnce
#not In - True if the value|variable is not found in the sequnce

t="Khalandhar World"
u=(1,2,3,4.2,5,6.5,10)
x=(1,2,3,4)

print ("z"in t)
print ("h" in t)
print ("k" in t)
print ("K" in t)
print (4 in u)
print (4.2 in u)

print (t, u)
t,u
t==u
t+u

False
True
False
True
False
True
Khalandhar World (1, 2, 3, 4.2, 5, 6.5, 10)

TypeError: can only concatenate str (not "tuple") to str

In [20]:
u=(1,2,3,4.2,5,6.5,10)
x=(1,2,3,4)

print (u-x)
pring (x in u)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [21]:
u1=(1,2,3,4.2,5,6.5,10)
x1=(1,2,3,4)

print (x1 in u1)

False