Strings and Formats

In [3]:
#python strings
#Format Strings
name="shaik"
age=35
s1="My name is %s and I am %d."%(name,age)
print(s1)

My name is shaik and I am 35.

In [4]:
place="kurnool"
code=518222
s2=" %s is capital of AP and its code is %d."%(place,code)
print(s2)

 kurnool is capital of AP and its code is 518222.

In [5]:
city="New York"
country="country"
s3="I am form %s city, which is in USA %s."%(city, country)
s3

'I am form New York city, which is in USA country.'

In [6]:
#Format Method using {}
name="shaik"
age=35
an="My name is {} and I am {}".format(name,age)
print(an)

My name is shaik and I am 35

In [7]:
place="kurnool"
code=518222
k5="{} is capital of AP and its code is {}.".format(place,code)
print(k5)

kurnool is capital of AP and its code is 518222.

In [8]:
city="New York"
country="country"
cc="I am form {} city, which is in USA {}.".format(city, country)
cc

'I am form New York city, which is in USA country.'

#Dynamic

In [6]:
name=input("enter your name =")

enter your name = Shaik Dada Khalandhar

In [3]:
age=input("enter your age =")

enter your age = 34

In [4]:
place=input("enter your place =")

enter your place = Hyderabad

In [5]:
country=input("entey your country =")

entey your country = India

In [4]:
 name = "shaik"
name=input("Enter your gender =")
name=input("Enter your place =")
name=input("Enter your food =")

Enter your gender = male
Enter your place = guntakal
Enter your food = mutton

In [5]:
name=input("Enter your Name =")
name=input("Enter your Age =")
name=input("Enter your Location =")
name=input("Enter your ID =")

Enter your Name = Shaik
Enter your Age = 35
Enter your Location = Hyderabad
Enter your ID = 123

In [7]:
name="Noor"
age=65
s22="My Name is %s and My age is %s."%(name, age)
print(s22)

My Name is Noor and My age is 65.

In [9]:
name="santu"
age=28
ss="My Name is %s and My age is %s."%(name, age)
print(ss)

My Name is santu and My age is 28.

In [11]:
location = "Hyd"
code = 700
rr = "I am form {} and its code is {}".format(location,code)
print(rr)

I am form Hyd and its code is 700

In [21]:
location = "oot"
code = 800
Data= f"I stay in {location} and my code is {code}"
print(Data)

I stay in oot and my code is 800