In [3]:
#python strings
#Format Strings
name="shaik"
age=35
s1="My name is %s and I am %d."%(name,age)
print(s1)

My name is shaik and I am 35.

In [4]:
place="kurnool"
code=518222
s2=" %s is capital of AP and its code is %d."%(place,code)
print(s2)

 kurnool is capital of AP and its code is 518222.

In [5]:
city="New York"
country="country"
s3="I am form %s city, which is in USA %s."%(city, country)
s3

'I am form New York city, which is in USA country.'

In [6]:
#Format Method using {}
name="shaik"
age=35
an="My name is {} and I am {}".format(name,age)
print(an)

My name is shaik and I am 35

In [7]:
place="kurnool"
code=518222
k5="{} is capital of AP and its code is {}.".format(place,code)
print(k5)

kurnool is capital of AP and its code is 518222.

In [8]:
city="New York"
country="country"
cc="I am form {} city, which is in USA {}.".format(city, country)
cc

'I am form New York city, which is in USA country.'

#Dynamic

In [1]:
name=input("enter your name =")
print(name)

enter your name = shaik dada kahalandhar

shaik dada kahalandhar

In [2]:
age=input("enter your age =")
print(age)

enter your age = 34

34

In [1]:
place=input("enter your place =")
print(place)

enter you place = Kurnool

Kurnool

In [3]:
country=input("entey your country =")
print(country)

entey your country = India

India