In [ ]:
#March 30 2024
#List --- list will start with squar brackets, it is used to store collection of ites
# list is mutable we can change, modify, add and delete

In [ ]:
#list 
numbers = [1,2,3,4,5,6,-7,8,-9,-10]
floot = [3.0,8.4,1.1,3.6,7.7,1.1,2.3]
fruits = ['apple','mango','banana','grapes','kiwi','pine apple']
language = ['python','C','C++','Hindi','Telugu','English']
animals = ['lion','tiger','dear','cat','dog','cow']
flower = ['rose','lilly']

In [179]:
#chekcing all lists
numbers = [1,2,3,4,5,6,-7,8,-9,-10]
floot = [3.0,8.4,1.1,3.6,7.7,1.1,2.3]
fruits = ['apple','mango','banana','grapes','kiwi','pine apple']
language = ['python','C','C++','Hindi','Telugu','English']
animals = ['lion','tiger','dear','cat','dog','cow']
flower = ['rose','lilly']
print(numbers, floot, fruits, language, animals, flower)

TypeError: 'str' object is not callable

In [12]:
numbers = [1,2,3,4,5,6,-7,8,-9,-10]
print(type(numbers))

<class 'list'>

In [23]:
numbers = [1,2,3,4,5,6,-7,8,-9,-10]
print(type(numbers),type(floot)) #check with sir

<class 'list'> <class 'list'>

In [ ]:
#Index - there will two index in python positive index and Negative index
#positive index statrs from 0
#negative index stats from -1
#default index will be positive index

In [22]:
fruits = ['apple','mango','banana','grapes','kiwi','pine apple']
print(fruits[1])
print(fruits[-3])
print(fruits[2])
print(fruits[1],[-1]) # check with sir
print(fruits[1:-1]) # here n-1 is working

mango
grapes
banana
mango [-1]
['mango', 'banana', 'grapes', 'kiwi']

In [38]:
# Slicing of list -- it helps to get portion of result from the list
# slicing will run with n-1 formula
floot = [3.0,8.4,1.1,3.6,7.7,1.1,2.3]
fruits = ['apple','mango','banana','grapes','kiwi','pine apple']
language = ['python','C','C++','Hindi','Telugu','English']

print(floot[2], fruits[2], language[2])
print(floot[-3], fruits[-3], language[-3])
print(floot[1:3], fruits[1:3], language[1:3])
print(floot[1:], fruits[0:3], language[:-3])
print(floot[-1], fruits[0:2], language[4]) # here for fruits index n-1 is working hence we got the result apple and mango
print(floot + fruits + language)
language

1.1 banana C++
7.7 grapes Hindi
[8.4, 1.1] ['mango', 'banana'] ['C', 'C++']
[8.4, 1.1, 3.6, 7.7, 1.1, 2.3] ['apple', 'mango', 'banana'] ['python', 'C', 'C++']
2.3 ['apple', 'mango'] Telugu
[3.0, 8.4, 1.1, 3.6, 7.7, 1.1, 2.3, 'apple', 'mango', 'banana', 'grapes', 'kiwi', 'pine apple', 'python', 'C', 'C++', 'Hindi', 'Telugu', 'English']

['python', 'C', 'C++', 'Hindi', 'Telugu', 'English']

In [ ]:
# List operations --> they are two types
# 1. Concatenation
# 2. Repetition

In [46]:
animals = ['lion','tiger','dear','cat','dog','cow']
flower = [1,2,'rose','lilly']

#Concatenation + Repetition
con=animals+flower
print(con)
len(con)

['lion', 'tiger', 'dear', 'cat', 'dog', 'cow', 1, 2, 'rose', 'lilly']

10

In [54]:
print(flower*2)
flower*3
len(flower) #check wiht sir why len is erases
flower*2

[1, 2, 'rose', 'lilly', 1, 2, 'rose', 'lilly']

[1, 2, 'rose', 'lilly', 1, 2, 'rose', 'lilly']

In [60]:
a=5
b=2
c=a-b
print(c)

3

In [62]:
e=(1,2,3)
f=(2,3,4)
g=e-f
print(g)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [ ]:
#Change List Items--> were we can change the specific thing in list by using indexing

In [66]:
#changing the place
place = ['hyd',"kur",'dhone','gty','atp']
place[1]='mhb'
print(place)
len(place)

['hyd', 'mhb', 'dhone', 'gty', 'atp']

5

In [67]:
#adding the place in positive index
place = ['hyd',"kur",'dhone','gty','atp']
place[0]='goa'
print(place)

['goa', 'kur', 'dhone', 'gty', 'atp']

In [71]:
#adding the place in nagative index
place=['goa', 'kur', 'dhone', 'gty', 'atp'] 
place[-1]='mumbai'
print(place)#here n-1 is working --> Can we add without deleting the last element in negative index

['goa', 'kur', 'dhone', 'gty', 'mumbai']

In [72]:
place = ['hyd',"kur",'dhone','gty','atp']
place[1]=5
print(place)

['hyd', 5, 'dhone', 'gty', 'atp']

In [73]:
place = ['hyd',"kur",'dhone','gty','atp']
place[1]= -5
print(place)

['hyd', -5, 'dhone', 'gty', 'atp']

In [ ]:
#Changing the range of itme valus
a =[1,2,3,4,5]
b = [egg,chicken,fish,water]

In [75]:
b = ['egg','chicken','fish','water']
b[1:3]=['goat','mutton','sheep']
print(b)

['egg', 'goat', 'mutton', 'sheep', 'water']

In [78]:
b = ['egg','chicken','fish','water']
b[1:-1]=['goat','mutto']
print(b)

['egg', 'goat', 'mutto', 'water']

In [ ]:
#List Methods
#append

In [80]:
#append ---> add the value at the end of the list
earth=['water','trees','air','fire','land','sky']
earth.append('human')
print(earth)

['water', 'trees', 'air', 'fire', 'land', 'sky', 'human']

In [82]:
earth=['water','trees','air','fire','land','sky']
earth.append(-1)
print(earth)

['water', 'trees', 'air', 'fire', 'land', 'sky', -1]

In [83]:
earth=['water','trees','air','fire','land','sky']
earth.append(1)
print(earth)

['water', 'trees', 'air', 'fire', 'land', 'sky', 1]

In [88]:
#Extend ---> add more value as the end of the list from other list
place = ['hyd','goa','pune']
numbers = [1,2,3]
place.extend(numbers)
print(place)
len(place)

['hyd', 'goa', 'pune', 1, 2, 3]

6

In [89]:
#Insert --> inserting the values in particular position
place = ['hyd','goa','pune']
place.insert(2,222)
print(place)

['hyd', 'goa', 222, 'pune']

In [91]:
place = ['hyd','goa','pune']
place.insert(2,'Khalndhar')
print(place)

['hyd', 'goa', 'Khalndhar', 'pune']

In [94]:
#Remove ---> removes the first occurrence
place = ['hyd','goa','hyd','pune','gtl',1,1,2,3,4]
place.remove(1)
print(place)

['hyd', 'goa', 'pune', 'gtl', 1, 2, 3, 4]

In [95]:
place = ['hyd','goa','hyd','pune','gtl',1,1,2,3,4]
place.remove('hyd')
print(place)

['goa', 'hyd', 'pune', 'gtl', 1, 1, 2, 3, 4]

In [102]:
#pop --->removes and returns an element at a specifice index
place = ['hyd','goa','hyd','pune','gtl',1,1,2,3,4]
result = place.pop(-3)
print(result)

2

In [103]:
place = ['hyd','goa','hyd','pune','gtl',1,1,2,3,4]
result = place.pop(1)
print(result)

goa

In [107]:
#Index --> returns the first occurence of the index
place = ['hyd','goa','hyd','pune','gtl',1,1,2,3,4]
index=place.index('hyd')
print(index)  # check with sir

0

In [108]:
numbers=[10,20,30,40,10,50,10,20,70,30]
ind=numbers.index(20)
print(ind)

1

In [112]:
#count ---> returns the number of occurence of the valud
numbers=[10,20,30,40,10,50,10,20,70,30]
count=numbers.count(10)
print(count)

3

In [113]:
place = ['hyd','goa','hyd','pune','gtl',1,1,2,3,4]
count1=place.count('hyd')
print(count1)

2

In [124]:
#sort---> sort the list in ascending order
values=[9,2,3,1,4,7,5,10]
values.sort()
print(values)

[1, 2, 3, 4, 5, 7, 9, 10]

In [126]:
fruits=['pine apple','Manali','Mango','banganpalli','rice','kurnoo','apple'] #FIRST IT WILL TAKE CAPITAL LETTERS
fruits.sort()
print(fruits)

['Manali', 'Mango', 'apple', 'banganpalli', 'kurnoo', 'pine apple', 'rice']

In [131]:
#revers - reversing the order of the list
rev=[1, 2, 3, 4, 5, 7, 9, 10]
rev.reverse()
print(rev)

[10, 9, 7, 5, 4, 3, 2, 1]

In [132]:
rev1=['Manali', 'Mango', 'apple', 'banganpalli', 'kurnoo', 'pine apple', 'rice']
rev1.reverse()
print(rev1)

['rice', 'pine apple', 'kurnoo', 'banganpalli', 'apple', 'Mango', 'Manali']

In [ ]:
#PYTHON STRIGNS 
# single ' quotation
# double " quotations
# triple """ quotatios
# it is imuptable
# Once string is created we cant change, but we can change the character's

In [139]:
str1='shaik'
str2="khalandha"
print(str1)
print( str2)
print(str1 + str2)

shaik
khalandha
shaikkhalandha

In [143]:
tr1='shaik'
str2="khalandha "
print(str1+" "+str2)

shaik khalandha

In [145]:
str3 ="shaik khalandha - "
name=str3* 3
print(name)

shaik khalandha - shaik khalandha - shaik khalandha -

In [167]:
#indexing - Accessing the individual characters in a string
my_string = "python"
print(my_string[0])
print(my_string[-1])

TypeError: 'str' object is not callable

In [166]:
#slicing 
test  = 'Hello World'
pull = test[2:6]
print(pull)

TypeError: 'str' object is not callable