In [7]:
#List 
numbers=[1,2,3,4,5,6,7]
floot=[1.3,2.4,5.8,6.7]
animals=['lion','tiger','elephant','dear']
places=['hyd','kur','gty','ooty']
flowers=['rose','lilly','sun flower']
fruits=['apple','mango','grapes','banana']
earth=['fire','water','air','land','sky']
colour=['red','green','yellow','Black']
names=['shaik','dada','khalandhar']

#slicing
print(numbers[5])
print(animals[2])
print(colour[1])
print(names[0])

print('<----------------------->')

print(numbers[-1])
print(animals[-3])
print(colour[-4])
print(names[-2])

print('<--------------->')

print(numbers[1:3])
print(names[0:1])
print(colour[1:2]) # here n-1 is working

6
elephant
green
shaik
<----------------------->
7
tiger
red
dada
<--------------->
[2, 3]
['shaik']
['green']

In [12]:
#concatination
earth=['fire','water','air','land','sky']
places=['hyd','kur','gty','ooty']
numbers=[1,2,3,4,5,6,7]

all=(earth+places+numbers)
print(all)

places=['hyd','kur','gty','ooty']
flowers=['rose','lilly','sun flower']
fruits=['apple','mango','grapes','banana']
earth=['fire','water','air','land','sky']

all1=(places+flowers+fruits+earth)
print(all1)

['fire', 'water', 'air', 'land', 'sky', 'hyd', 'kur', 'gty', 'ooty', 1, 2, 3, 4, 5, 6, 7]
['hyd', 'kur', 'gty', 'ooty', 'rose', 'lilly', 'sun flower', 'apple', 'mango', 'grapes', 'banana', 'fire', 'water', 'air', 'land', 'sky']

In [13]:
#Repetation
names=['shaik',' dada',' khalandhar']
numbers=[1,2,3,4,5,6,7]
earth=['fire','water','air','land','sky']
floot=[1.3,2.4,5.8,6.7]
print(names*5)
print(numbers*5)
print(earth*5)
print(floot*5)

['shaik', ' dada', ' khalandhar', 'shaik', ' dada', ' khalandhar', 'shaik', ' dada', ' khalandhar', 'shaik', ' dada', ' khalandhar', 'shaik', ' dada', ' khalandhar']
[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
['fire', 'water', 'air', 'land', 'sky', 'fire', 'water', 'air', 'land', 'sky', 'fire', 'water', 'air', 'land', 'sky', 'fire', 'water', 'air', 'land', 'sky', 'fire', 'water', 'air', 'land', 'sky']
[1.3, 2.4, 5.8, 6.7, 1.3, 2.4, 5.8, 6.7, 1.3, 2.4, 5.8, 6.7, 1.3, 2.4, 5.8, 6.7, 1.3, 2.4, 5.8, 6.7]

In [17]:
#change value in items list - we can change the values/item in the list
earth=['fire','water','air','land','sky']
floot=[1.3,2.4,5.8,6.7]
colour=['red','green','yellow','Black']

earth[0]=1
floot[1]='bike'
colour[2]=1.1

print("<--------->")

print(earth)
print(floot)
print(colour)

<--------->
[1, 'water', 'air', 'land', 'sky']
[1.3, 'bike', 5.8, 6.7]
['red', 'green', 1.1, 'Black']

In [18]:
#change range of items in list
fruits=['apple','mango','grapes','banana']
fruits[1:3]=['honey','jonny']
print(fruits)

['apple', 'honey', 'jonny', 'banana']

In [20]:
earth=['fire','water','air','land','sky']

earth[2:-1]=[0,0]
print(earth)

['fire', 'water', 0, 0, 'sky']

In [21]:
floot=[1.3,2.4,5.8,6.7]

floot[0:2]=['jack','jill']  #n-1 rus here
print(floot)

['jack', 'jill', 5.8, 6.7]

In [26]:
# List Method --- Adds a value at the end of the list

#append ----- allows to add value/item at the end of the list

earth=['fire','water','air','land','sky']
colour=['red','green','yellow','Black']
names=['shaik','dada','khalandhar']

earth.append(1)
print(earth)

colour.append(2.2)
print(colour)

names.append('Noor')
print(names)

['fire', 'water', 'air', 'land', 'sky', 1]
['red', 'green', 'yellow', 'Black', 2.2]
['shaik', 'dada', 'khalandhar', 'Noor']

In [27]:
#extend --- allow to combain two lists (it smilier to addition)
floot=[1.3,2.4,5.8,6.7]
animals=['lion','tiger','elephant','dear']
places=['hyd','kur','gty','ooty']

floot.extend(animals)
print(floot)

[1.3, 2.4, 5.8, 6.7, 'lion', 'tiger', 'elephant', 'dear']

In [31]:
floot=[1.3,2.4,5.8,6.7]
animals=['lion','tiger','elephant','dear']
places=['hyd','kur','gty','ooty']

floot.extend(animals)
print(floot)

[1.3, 2.4, 5.8, 6.7, 'lion', 'tiger', 'elephant', 'dear']

In [36]:
floot=[1.3,2.4,5.8,6.7]
animals=['lion','tiger','elephant','dear']
places=['hyd','kur','gty','ooty']

floot.extend(places),floot.extend(animals) #we can add many list by saparating with ,
print(floot)

[1.3, 2.4, 5.8, 6.7, 'hyd', 'kur', 'gty', 'ooty', 'lion', 'tiger', 'elephant', 'dear']

In [43]:
#insert --> allow to insert new value/item at speficed range in index
earth=['fire','water','air','land','sky']
colour=['red','green','yellow','Black']
names=['shaik','dada','khalandhar']

earth.insert(0,1)
print(earth)

colour.insert(-2,700)
print(colour)

names.insert(1,'Noor')
print(names)

[1, 'fire', 'water', 'air', 'land', 'sky']
['red', 'green', 700, 'yellow', 'Black']
['shaik', 'Noor', 'dada', 'khalandhar']

In [48]:
#remove - it remove from the list

places=['hyd','kur','gty','ooty']
flowers=['rose','lilly','sun flower']
fruits=['apple','mango','grapes','banana']

places.remove('hyd')
print(places)

flowers.remove('lilly')
print(flowers)

fruits.remove('banana')
print(fruits)

['kur', 'gty', 'ooty']
['rose', 'sun flower']
['apple', 'mango', 'grapes']

In [54]:
#pop -- give the specified index of the value/item

floot=[1.3,2.4,5.8,6.7]
animals=['lion','tiger','elephant','dear']
places=['hyd','kur','gty','ooty']

pooped=floot.pop(1)
print(pooped)

pooped1=animals.pop(-1)
print(pooped1)

pooped2=places.pop(2)
print(pooped2)

2.4
dear
gty

In [56]:
#index ---> first occurance value in the list
man=[10,20,30,40,50,10,70,80,90,10,20,100]
result=man.index(20)
print(result)

1

In [57]:
result2=man.index(100)
print(result2)

11

In [58]:
result3=man.index(70)
print(result3)

6

In [67]:
#count ---> returns the number of occurance of the value
women=[10,20,30,40,50,10,70,80,90,10,20,100]
res1=women.count(10)
print(res1)

TypeError: 'int' object is not callable

In [68]:
#sort -- sort he list ascending order
house=[1,3,4,2,8,5,6,0,9,7]
house.sort()
print(house)

TypeError: 'int' object is not callable