In [4]:
#operators

x=21
y=22
z=23.34

#addition
a=x+y
print(a)
print(type(a))

M=z-y
print(M)
print(type(M))

43
<class 'int'>
1.3399999999999999
<class 'float'>

In [3]:
#subtraction
b=x-y
print(b)
print(type(b))

-1
<class 'int'>

In [5]:
#multiplication
n=x*y
print(n)
print(type(n))

462
<class 'int'>

In [6]:
#division will give Q
o=y/z
print(o)
print(type(o))

0.9425878320479862
<class 'float'>

In [7]:
#modulus will give Reminder
p=x%z
print(p)
print(type(p))

21.0
<class 'float'>

In [8]:
#floor division
q=x//y//z
print(q)
print(type(q))

0.0
<class 'float'>

In [2]:
l=10
k=20
u=30.34
print(l)

10

In [5]:
#exponen
a=5
b=2
AA=a**b
print(AA)

25

In [3]:
#variable type one to one
T="Shaik"
R="Dada"
Y="Khalandhar"

print(T,R,Y)

Shaik Dada Khalandhar

In [6]:
#many to many
Fruit,Name,Place="Apple","Noor","Gtl"
print(Fruit,Name,Place)

Apple Noor Gtl

In [8]:
#many to one
D=K=I=100
print(D)

100

In [9]:
print(I)

100

In [12]:
#Booleans
print(100>200)

False

In [14]:
print(100==100)

True

In [15]:
print(9.5>9.6)

False

In [17]:
print(10.5>9.5)

True

In [18]:
R=1+J
RR=2+3i

RRR=R+RR
print(RRR)

SyntaxError: invalid decimal literal (326783363.py, line 2)

In [22]:
R=+2J
RR=2+3j
RRR=R+RR
print(RRR)
print(type(RRR))

(2+5j)
<class 'complex'>

In [25]:
R=1.5+2J
RR=3+4j
RRRR=R+RR
print (RRRR)
print(type(RRRR))

(4.5+6j)
<class 'complex'>