String and Tuples

#String Methods
1. len() #returns lenght of the string
2. upper()/lower () # change the characters uppet to lower and lower to upper case
3. strip() # returns the white spaces in string
4. replace() # replace the string
5. split() # split the string into a list of strings
6. joins() # joins the two strings

In [11]:
#len()
l= " I am shaik dada khalandhar and I am woking for JPMC"
l1= "I am going to python class from last two weeks"
l2= "I am from kurnool which is in AP"
l4= "Along with me santhosh and sharath are coming to DA class"
l5= "I like apple fruit"
print(len(l))
print(len(l1))
print(len(l2))
print(len(l4))
print(len(l5))

52
46
32
57
18

In [18]:
#upper case
u= "I am shaik dada khalandhar and I am woking for JPMC"
u1= "I am going to python class from last two weeks"
u2= "I am from kurnool which is in AP"
u3= "Along with me santhosh and sharath are coming to DA class"
u4= "I like apple fruit"

print(u.upper())
print(u1.upper())
print(u2.upper())
print(u3.upper())
print(u4.upper())

I AM SHAIK DADA KHALANDHAR AND I AM WOKING FOR JPMC
I AM GOING TO PYTHON CLASS FROM LAST TWO WEEKS
I AM FROM KURNOOL WHICH IS IN AP
ALONG WITH ME SANTHOSH AND SHARATH ARE COMING TO DA CLASS
I LIKE APPLE FRUIT

In [23]:
#lower case
lo="I AM SHAIK DADA KHALANDHAR AND I AM WOKING FOR JPMC"
lo1="I AM GOING TO PYTHON CLASS FROM LAST TWO WEEKS"
lo2="I AM FROM KURNOOL WHICH IS IN AP"
lo3="ALONG WITH ME SANTHOSH AND SHARATH ARE COMING TO DA CLASS"
lo4="I LIKE APPLE FRUIT"

print(lo.lower())
print(lo1.lower())
print(lo2.lower())
print(lo3.lower())
print(lo4.lower())

i am shaik dada khalandhar and i am woking for jpmc
i am going to python class from last two weeks
i am from kurnool which is in ap
along with me santhosh and sharath are coming to da class
i like apple fruit

In [28]:
#strip
strip1= "      I AM SHAIK DADA KHALANDHAR AND I AM WOKING FOR JPMC       "
strip2= "      I AM GOING TO PYTHON CLASS FROM LAST TWO WEEKS    "
strip3= "      I AM FROM KURNOOL WHICH IS IN AP      "
strip4= "      ALONG WITH ME SANTHOSH AND SHARATH ARE COMING TO DA CLASS    "
strip5= "      I LIKE APPLE FRUIT         "

print(strip1.strip())
print(strip2.strip())
print(strip3.strip())
print(strip4.strip())
print(strip5.strip())

I AM SHAIK DADA KHALANDHAR AND I AM WOKING FOR JPMC
I AM GOING TO PYTHON CLASS FROM LAST TWO WEEKS
I AM FROM KURNOOL WHICH IS IN AP
ALONG WITH ME SANTHOSH AND SHARATH ARE COMING TO DA CLASS
I LIKE APPLE FRUIT

In [46]:
#replace

r= "I am shaik dada khalandhar and I am woking for JPMC"
r1= "I am going to python class from last two weeks"
r2= "I am from kurnool which is in AP"
r4= "Along with me santhosh and sharath are coming to DA class"
r5= "I like apple fruit"

print(r.replace("JPMC", "Morgan" ))
print(r1.replace("weeks","15 days"))
print(r2.replace("kurnool","hyd") .replace("AP", "TS"))
print(r4.replace("santhosh","santu") .replace("sharath","reddy"))
print(r5.replace("apple fruit","555 Haleem"))

I am shaik dada khalandhar and I am woking for Morgan
I am going to python class from last two 15 days
I am from hyd which is in TS
Along with me santu and reddy are coming to DA class
I like 555 Haleem

In [57]:
#split

sp= "I am shaik dada khalandhar and I am woking for JPMC"
sp1= "I am going to python class from last two weeks"
sp2= "I am from kurnool which is in AP"
sp3= "Along with me santhosh and sharath are coming to DA class"
sp4= "I like apple fruit"
#--------------------------->
SP=sp.split()
SP1=sp1.split()
SP2=sp2.split()
SP3=sp3.split()
SP4=sp4.split()

print(SP)
print(SP1)
print(SP2)
print(SP3)
print(SP4)

['I', 'am', 'shaik', 'dada', 'khalandhar', 'and', 'I', 'am', 'woking', 'for', 'JPMC']
['I', 'am', 'going', 'to', 'python', 'class', 'from', 'last', 'two', 'weeks']
['I', 'am', 'from', 'kurnool', 'which', 'is', 'in', 'AP']
['Along', 'with', 'me', 'santhosh', 'and', 'sharath', 'are', 'coming', 'to', 'DA', 'class']
['I', 'like', 'apple', 'fruit']

In [70]:
#joins

j=['I', 'am', 'shaik', 'dada', 'khalandhar', 'and', 'I', 'am', 'woking', 'for', 'JPMC']
j1=['I', 'am', 'going', 'to', 'python', 'class', 'from', 'last', 'two', 'weeks']
j2=['I', 'am', 'from', 'kurnool', 'which', 'is', 'in', 'AP']
j3=['Along', 'with', 'me', 'santhosh', 'and', 'sharath', 'are', 'coming', 'to', 'DA', 'class']
j4=['I', 'like', 'apple', 'fruit']

jnt=" ".join(j)
jnt1=" ".join(j1)
jnt2=" ".join(j2)
jnt3=" ".join(j3)
jnt4=" ".join(j4)

print(jnt)
print(jnt1)
print(jnt2)
print(jnt4)

I am shaik dada khalandhar and I am woking for JPMC
I am going to python class from last two weeks
I am from kurnool which is in AP
I like apple fruit

Python Tuples

Tuples
1. Empty tuple
2. tuple with elements
3. mixed data type tuple
4. accessing ot tuple
5. immutabilit tuple
6. combining two tuples
7. repetation tuple
8. count tuple
9. index tuple

In [76]:
tp=() #empty tuple
print(tp)

()

In [77]:
#tuple with elements

tp1=('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z')
print(tp1)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')

In [80]:
tp1=('a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z') #here tp1 is treated as string
print(tp1.upper())

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z

In [81]:
tp1=('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z')
print(tp1.upper())

AttributeError: 'tuple' object has no attribute 'upper'

In [83]:
#mixed tuple
tp2=('a','b','c','d','e','f','g','h','i','j','k','l','m',14,15,16,17,18,19,20,21,22,23,24,25,26)
print(tp2)
print(len(tp2))

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26)
26

In [88]:
#single element tuple
tp3=(55,)
tp4=("AA",)

print(tp3)
print(tp4)
print(len(tp3))
len((tp4))

(55,)
('AA',)
1

1

In [97]:
# accessing to tuples

tp5=('a','b','c','d','e','f','g','h','i','j','k','l','m',14,15,16,17,18,19,20,21,22,23,24,25,26)

print(tp5[10:20])
print(tp5[6:-1])
print(tp5[:1])
print(tp5[:-1])
print(tp5[6:])
print(tp5[:-6])

('k', 'l', 'm', 14, 15, 16, 17, 18, 19, 20)
('g', 'h', 'i', 'j', 'k', 'l', 'm', 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)
('a',)
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)
('g', 'h', 'i', 'j', 'k', 'l', 'm', 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26)
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 14, 15, 16, 17, 18, 19, 20)

In [100]:
#immutability 
Names=('Shaik','Santu','Sharath')

print(Names)

Names[1]="Sam"
print(Names)

('Shaik', 'Santu', 'Sharath')

TypeError: 'tuple' object does not support item assignment

In [101]:
#combining two tuples
ca=('a','b','c','d','e','f','g','h','i','j','k','l','m')
cn=(1,2,3,4,5,6,7,8,9,10,11,12,13)

cacn=(ca+cn)
print(cacn)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

In [105]:
ca=('a','b','c','d','e','f','g','h','i','j','k','l','m')
cn=(1,2,3,4,5,6,7,8,9,10,11,12,13)

repe=ca*5
print(repe)

repe1=cn*5
print(repe1)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

In [109]:
#tuple count
cn=(1,2,3,4,5,6,7,8,9,10,11,12,13)

count=cn.count(1)
print(count)

1

In [120]:
#tuple index
ind=(1,2,3,4,5,6,7,8,9,10,11,12,13)

print(ind[5])
print(ind[:5])
print(ind[5:])
print(ind[0:-5])

6
(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10, 11, 12, 13)
(1, 2, 3, 4, 5, 6, 7, 8)

In [22]:
#additional 

#capitalize ----> converting first letter of string into caps
char="hello jack"

_c1=char.capitalize()
print(_c1)

#--------

char2=("hello"  "jack")
_c2=char2.capitalize() , char2.capitalize() #check cant we print 1st letter as caps in 2nd word 
print(_c2)

Hello jack
('Hellojack', 'Hellojack')

In [24]:
#caseflod ---> first letter into small caps

cf="Hello jack"
fc=cf.casefold()
print(fc)

hello jack

In [32]:

cf="Hello jack"

fc1=cf.partition("jack")
print(fc1)

('Hello ', 'jack', '')

In [34]:
cf="Hello jack" 

fc1=cf.ljust(20) #added 20 spaces after the string
print(fc1)

Hello jack